@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600&display=swap');

:root {
    --primary-color: #edde6c;
    --dark-gray: #BDBBB0;
    --off-white: #F1F2EE;

}

body {

    font-family: 'Montserrat',
        sans-serif;

    margin: 0px;
}

.naviagtion{
    background-color: var(--primary-color);
    text-align: center;
}


textarea {
    width: 90vh;
    height: 10vh;
    display: block;
    margin: 1rem;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 90vh;
    margin: 1rem;
    padding: 1rem;
}